streamlit>=1.36

# Core ML (Nutrition model)
torch>=2.1
torchvision>=0.16
timm>=0.9

# Imaging / data
opencv-python-headless
pillow
numpy
pandas

# Hugging Face
huggingface_hub>=0.26

# Local OCR fallback (recommended for reliability on Streamlit Cloud)
easyocr>=1.7.1
scipy
pyyaml
python-bidi
Shapely
pyclipper
